<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>good_cart</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/good_cart.css">
    <link rel="stylesheet" href="./iconfont/iconfont.css">
</head>

<body>
    <header id="head">
        <div class="logo">
            <a href="#">
                <img src="../img/FILA_bluelogo.png" alt="">
            </a>
        </div>
        <div class="head_nav">
            <div class="nav_search">
                <input type="text" class="search_text" placeholder="卫衣">
                <button class="btn">搜索</button>
            </div>
            <ul class="nav_list">
                <li class="login">
                    <a href="#" target="_blank">您好</a>
                </li>
                <li class="register">
                    <a href="#" target="_blank">沙与沫</a>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="iconfont icon-bag"></i></a>
                </li>
            </ul>
        </div>
    </header>
    <div class="cart_main">
        <div class="main_box">
            <h3 class="cart_title">
                <span>我的购物车</span>
                <i class="total_num">共3件</i>
            </h3>
            <div class="cart_top">
                <input type="checkbox" class="checkbox_all">
                <i></i>
                <span class="checkbox_txt">全选</span>
            </div>
            <div class="cart_goods">
                <ul class="cart_ul">
                    <li class="cart_li">
                        <input type="checkbox" class="li_input">
                        <i></i>
                        <div class="li_img">
                            <a href="./good_detail.html?id=64727" target="_blank">
                                <img src="../img/fila_cart_pic01.jpg" alt="">
                            </a>
                        </div>
                        <div class="li_detail">
                            <div class="detail_l">
                                <h5 class="title_t">梭织上衣</h5>
                                <p>颜色:正黑色拼朱纲红;尺码:S</p>
                            </div>
                            <div class="detail_r">
                                <span class="detail_price">¥1680.00</span>
                                <span class="detail_mkprice">¥1680.00</span>
                            </div>
                            <div class="detail_num">
                                <p class="num_l">
                                    <span class="num_txt">数量:</span>
                                    <a href="javascript:;" class="num_minus">-</a>
                                    <input type="text" class="num_ipt">
                                    <a href="javascript:;" class="num_plus">+</a>
                                </p>
                                <p class="num_r">
                                    <a href="javascript:;">删除</a>
                                </p>
                            </div>

                        </div>
                    </li>
                    <li class="cart_li">
                        <input type="checkbox" class="li_input">
                        <i></i>
                        <div class="li_img">
                            <a href="./good_detail.html?id=62205" target="_blank">
                                <img src="../img/fila_cart_pic01.jpg" alt="">
                            </a>
                        </div>
                        <div class="li_detail">
                            <div class="detail_l">
                                <h5 class="title_t">梭织上衣</h5>
                                <p>颜色:正黑色拼朱纲红;尺码:S</p>
                            </div>
                            <div class="detail_r">
                                <span class="detail_price">¥1680.00</span>
                                <span class="detail_mkprice">¥1680.00</span>
                            </div>
                            <div class="detail_num">
                                <p class="num_l">
                                    <span class="num_txt">数量:</span>
                                    <a href="javascript:;" class="num_minus">-</a>
                                    <input type="text" class="num_ipt">
                                    <a href="javascript:;" class="num_plus">+</a>
                                </p>
                                <p class="num_r">
                                    <a href="javascript:;">删除</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
    <div class="cart_bottom">
        <div class="sum_main">
            <div class="main_content_l">
                <div class="sum_l">
                    <input type="checkbox" class="checkbox_ipt">
                    <i></i>
                    <span>全选商品</span>
                    <a href="javascript:;" class="sum_del">商品删除</a>
                </div>
                <div class="sum_r">
                    <span>总价</span>
                    <span class="sum_price">¥1680.00</span>
                </div>
            </div>
            <div class="main_content_r">
                <a href="javascript:;" class="buyIt">结算</a>

            </div>

        </div>
    </div>
    <div class="online_s">
        <a href="#">客服</a>
    </div>
</body>
<script src="../js/utils.js"></script>
<script src="../js/good_cart.js"></script>

</html>